<div class="row">
  <div class="col-6">
    <form #todoForm="ngForm">
      <div class="form-group" *ngIf="newRoom">
        <label for="RoomName">Room Name</label>
        <input type="text" class="form-control" name="roomName" ngModel />
      </div>
      <h3 *ngIf="!newRoom">{{ room.roomName }}</h3>
      <div class="form-group">
        <label for="taskName">Task Name</label>
        <input type="text" class="form-control" name="taskName" #taskName />
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addNewTask(taskName.value)"
          >
            Add New Task
          </button>
          <button type="button" class="btn btn-success" (click)="saveToCloud()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-6">
    <h2>To do</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        {{ item.taskName }}
      </div>
    </div>
  </div>

  <div class="col-6">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item.taskName }}
      </div>
    </div>
  </div>
</div>
