
  <div class="row">
    <div class="col-12">
      <h1>Ad Free Password Generator</h1>
    </div>
  </div>

  <br />

  <div class="row">
    <form #form="ngForm">
      <div class="row">
        <div class="row">
          <div class="input-group col-12">
            <input type="text" class="form-control" [value]="randomPassword" #randomPwd/>
            <button
              class="btn btn-light btn-outline-dark bi"
              [ngClass]="!reGenClicked ? 'bi-arrow-clockwise' : 'bi-check-lg'"
              type="button"
              #reloadBtn
              (click)="onReload()"
            ></button>
            <button
              class="btn btn-light btn-outline-dark bi"
              [ngClass]="!copyClicked ? 'bi-clipboard' : 'bi-clipboard-check-fill'"
              type="button"
              #copyBtn
              (click)="onCopy(randomPwd.value)"
            ></button>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12">
            <div class="row">
              <div class="col-6 align-self-center">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-ms-12">
                    <input
                      type="number"
                      [value]="rangeDefaultValue"
                      class="form-control"
                      [min]="sizeRangeMin"
                      [max]="sizeRangeMax"
                      #rangeInput
                      (change)="onSizeChange(rangeInput.value)"
                    />
                  </div>
                  <div class="col-lg-9 col-md-6 col-ms-12">
                    <input
                      type="range"
                      class="form-range align-middle"
                      [min]="sizeRangeMin"
                      [max]="sizeRangeMax"
                      [step]="rangeStep"
                      [value]="rangeDefaultValue"
                      #rangeSlide
                      (change)="onSizeChange(rangeSlide.value)"
                    />
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="input-group">
                  <div class="col-12 form-check form-switch">
                    <input
                      class="form-check-input inline"
                      type="checkbox"
                      [defaultChecked]="uppercase"
                      (change)="onUppercaseChange($event)"
                    />
                    <label class="form-check-label inline" for="uppercase"
                      >Uppercase</label
                    >
                  </div>
                  <div class="col-12 form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [defaultChecked]="true"
                      (change)="onLowercaseChange($event)"
                    />
                    <label class="form-check-label" for="lowercase"
                      >Lowercase</label
                    >
                  </div>
                  <div class="col-12 form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [defaultChecked]="true"
                      (change)="onNumberschange($event)"
                    />
                    <label class="form-check-label" for="numbers"
                      >Numbers</label
                    >
                  </div>
                  <div class="col-12 form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [defaultChecked]="true"
                      (change)="onSpecialChange($event)"
                    />
                    <label class="form-check-label" for="special"
                      >Special Symbol (&~!@#$%....)</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

