<div class="">
  <h3>Reset Password</h3>
  <form>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username">Email address</label>
      <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required />
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col">
        <!-- Simple link -->
        <a class="link-primary px-2" [routerLink]="['/auth', 'sign-in']">
          go back
        </a>
      </div>
    </div>

    <button class="btn btn-primary" type="button" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      Reset Password
    </button>

  </form>
</div>
