<div class="row">
  <div class="col-5">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: mode === 'list' }"
            (click)="changeMode('list')"
            >My List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: mode === 'search' }"
            (click)="changeMode('search')"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: mode === 'request' }"
            (click)="changeMode('request')"
            >Request</a
          >
        </li>
      </ul>
    </div>
    <hr />
    <div *ngIf="mode === 'list'">
      <button class="btn btn-primary" type="button" (click)="createNewRoom()">New Room</button>
      <br><br>
      <ol class="list-group list-group-number">
        <a
          *ngFor="let room of roomList; let i = index"
          class="list-group-item list-group-item-action d-flex gap-3 py-3"
          aria-current="true"
          [routerLink]="[room.key]"
        >

          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="mb-0">{{ room.roomName }}</h6>
              <p class="mb-0 opacity-75">Host User: {{ room.roomHost }}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{
              timeDifference(now, room.lastUpdate)
            }}</small>
          </div>
        </a>
      </ol>
    </div>
    <div *ngIf="mode === 'search'">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="room id" #roomIdInput>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchRoom(roomIdInput.value)">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <router-outlet></router-outlet>
  </div>
</div>
